<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <meta charset="UTF-8">
  <title>Modifica Esame</title>

  <!--/* Add the jquery lib */-->
  <script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
  <!--/* bootstrap tags */-->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

</head>
<body>
<div class="container">
  <h1>Modifica Esame per corso <a id="corsoLabel"></a></h1>
  <br/>
      <label for="selezioneEsame" class="visually-hidden">Esame Selezionato: </label>
      <select class="form-select w-25" id="selezioneEsame"></select>
  <br/>

  <form class="row row-cols-lg-auto g-3 align-items-center" id="aggiuntaEsameForm">
    <div class="col-12">
      <label class="visually-hidden" for="esameInput">Nome Esame</label>
      <div class="input-group">
        <input type="text" class="form-control" id="esameInput" placeholder="Nome Esame">
      </div>
    </div>
    <div class="col-12">
      <label class="visually-hidden" for="cfuInput">CFU</label>
      <div class="input-group">
        <input type="text" class="form-control" id="cfuInput" placeholder="CFU">
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-info" id="formModificaBtn">Modifica</button>
    </div>
  </form>
</div>



<!-- Toast informativi -->
<div class="toast position-fixed align-items-center text-white bg-success bottom-0 start-0"
     role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <strong>Successo!</strong> esame aggiunto
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="toast position-fixed align-items-center text-white bg-danger bottom-0 start-0"
     role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <strong>Errore!</strong> <a id="errorBody">errore generico</a>
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<script>
  $( document ).ready(function () {
    console.log("loaded and ready!");

    // Ottenendo i dati dal pathname
    let location = window.location.pathname;
    let url_parts = location.replace(/\/\s*$/,'').split('/');
    let corso = url_parts[2].replace(/%20/g, " ");
    let esame = url_parts[3].replace(/%20/g, " ");

    $('#corsoLabel').html(corso);

    $('#selezioneEsame').append(`<option value="${esame}">
                                       ${esame}
                                  </option>`);

    getEsami();

    $.ajax({
      type: "GET",
      method: "GET",
      url: `/api/${corso}/${esame}`,
      success: function (result) {
        $('#esameInput').val(result.nome);
        $('#cfuInput').val(result.cfu);
      },
      error: function() {
        $('#errorBody').html("errore nel caricare i dati");
        toastList[1].show();
      }
    });


    $('#selezioneEsame').change(function () {
      document.location.href = `${window.location.origin}/api/${corso}/${$('#selezioneEsame').val()}/editEsame`;
    });


    // Inizializzazione toast
    let toastElList = [].slice.call(document.querySelectorAll('.toast'))
    let toastList = toastElList.map(function(toastEl) {
      // Creates an array of toasts (it only initializes them)
      return new bootstrap.Toast(toastEl) // No need for options; use the default options
    });

    // Callback relativo al bottone di aggiunta esame
    $('#formModificaBtn').click(function () {
      $.ajax({
        type: "PUT",
        method: "PUT",
        url: `/api/${corso}/${esame}`,
        data:{
          nomeEsame: $('#esameInput').val(),
          cfu: $('#cfuInput').val(),
        },
        success: function(res) {
          document.location.href = `${window.location.origin}/api/${corso}/${res.nome}/editEsame`;
        },
        error: function(response){
          switch(response.responseJSON.msg){
            case 'exam_not_found':
              $('#errorBody').html("esame non trovato");
              break;
            case 'course_not_found':
              $('#errorBody').html("corso non esistente");
              break;
            default:
              $('#errorBody').html("problema inaspettato");
          }
          toastList[1].show();
        }
      });
    });

    function getEsami() {
      $.ajax({
        type: "GET",
        url: `/api/${corso}/esami`,
        success: function (result) {
          // fill del campo corsi di laurea usando endpoint
          result.forEach(obj => {
            Object.entries(obj).forEach(([key, value]) => {
              if (key === 'nome' && value !== esame) {
                $('#selezioneEsame').append(`<option value="${value}">
                                       ${value}
                                  </option>`);
              }
            });
          });
        },
        error: function() {
          //foo
        }
      });
    }
  });
</script>
</body>